version: '3.8'

services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: drupal
      POSTGRES_USER: drupal
      POSTGRES_PASSWORD: drupal
    volumes:
      - db_data:/var/lib/postgresql/data
    restart: unless-stopped

  drupal:
    image: drupal:11-apache
    ports:
      - "8080:80"
    environment:
      POSTGRES_HOST: db
      POSTGRES_DB: drupal
      POSTGRES_USER: drupal
      POSTGRES_PASSWORD: drupal
    volumes:
      - .:/opt/drupal
    working_dir: /opt/drupal/web
    depends_on:
      - db
    restart: unless-stopped

volumes:
  db_data:
